main {
  padding: 0 20px;
  font-size: 1rem;
  min-height: calc(100vh - 95px);
}

.crud {
  font-size: .9em;
}

.ui-dialog {
  background-color: $header-color;
  border-radius: 5px;
  line-height: 2;
  text-align: center;
  opacity: .9;
  color: $bright-font-color;
  position: fixed;
}

.ui-dialog-titlebar-close {
  display: none;
}

@media (min-width: 641px) {
  main {
    font-size: 1.1rem;
    width: 80vw;
    padding: 0 10vw;
  }
  table {
    width: 70vw;
  }
}

@media (min-width: 1025px) {
  main {
    font-size: 1.1rem;
    width: 76vw;
    padding: 0 12vw;
    margin-left: -10px;
  }
}