header {
  border-bottom: 1px solid #000;
  width: 100%;
  overflow: hidden;
}

nav {
  height: 60px;
}
nav > ul > li {
  display: inline-block;
}

.left-nav {
  display: inline-block;
  padding-left: 20px;
}

.right-nav {
  display: inline-block;
  float: right;
  padding-right: 20px;
}