nav {
  width: 150px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -150px;
  z-index: 100000;
  background-color: $header-color;
}

nav > ul {
  margin-left: -40px;
  margin-top: 0;
}

nav > ul > li {
  list-style-type: none;
  border-bottom: 1px solid $bright-font-color;
  padding: 15px;
  text-align: center;

  a {
    color: $bright-font-color;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9em;
  }
}

.menu-icon {
  margin-left: 17px;
  position: relative;
  top: -59px;
  width: 24px;
}

header {
  background-color: $header-color;
  height: 50px;
  font-size: 1rem;
  line-height: 50px;
  margin-top: -12px;
}

.brand {
  font-size: 1em;
  margin-left: 57px;
}

.brand > a, .brand > a:active, .brand > a:hover {
  text-decoration: none;
  color: $bright-font-color;
}

td {
  padding: 2.5px;
}

.table-desc {
  background: $case-color;
  border-radius: 3px;
  padding: 10px;
}

@media (min-width: 641px) {
  .menu-icon {
    display: none;
  }

  nav {
    width: 100vw;
    height: auto;
    position: static;
    background-color: transparent;

    ul {
      position: absolute;
      top: -15px;
      right: 20px;
    }
  }

  nav > ul > li {
    display: inline-block;
    border: 0;

    a {
      color: $bright-font-color;
      text-transform: none;
      font-weight: normal;
      font-size: .9em;
    }
  }
}