iframe {
  width: 75vw;
  height: 42.18vw;
  background: #000;
  border-left: 40px solid #fff;
}

iframe, .avatar, .video-description {
  margin: 0 auto;
}

.comments {
  padding-left: 10vw;
  line-height: 1.5;
}

.avatar {
  width: 32px;
}

.avatar, h2 {
  float: left;
}

h2 {
  margin-left: 15px;
  font-size: .8em;
}

.thumbnail {
  width: 80px;
}

@media (min-width: 1025px) {
  iframe {
    border: 0;
  }
}
