iframe {
  width: 80vw;
  height: 44.99vw;
  background: #000;
}

iframe, .avatar, .video-description {
  margin: 0 auto;
}

.comments {
  padding-left: 10vw;
  line-height: 1.5;
}

.avatar {
  width: 32px;
}

.avatar, h2 {
  float: left;
}

h2 {
  margin-left: 15px;
  font-size: .8em;
}

.thumbnail {
  width: 80px;
}