{% extends 'HamsterHubBundle::base.html.twig' %}

{% block title %}Chaîne de {{ username }}{% endblock %}

{% block body %}
    <h3>Vidéos de {{ username }}</h3>

    <table>

    </table>
{% endblock %}